
  
  <header>
  <div><h1>MILLS HOGAN</h1>
  <ul>
    <li>ABOUT</li>
    <li>PORTFOLIO</li>
    <li>CONTACT</li>
  </ul>
    
    <div class="portfolio portContainer">
            <div class="slideHolder">
      <h1>Some of my Projects</h1>
      <p>Here is some stuff I've done. It is all terrible.</p>
      </div>
    </div>
    <div class="contact portContainer">
      <div class="slideHolder">
      <h1>Contact me</h1>
      <p>A form will go here. Nodemailer will then send me your spam.</p>
      </div>
    </div>
    <div class="blankHolder"> </div>
    <div class="contactMask mask"></div>
    <div class="portfolioMask mask"></div>
  </header>
   <div class="contentHolder">
        <div class="introText">
  <p>I am graphic designer turned full stack web developer. I need to come up with something good here. Probably another sentence or two. My dog bites my wife and I. He is ruining our existence. End with a link to contact me.</p>
  </div>
</div>



    
    
    

<script type="text/javascript" src="./javascript/home.js"></script>
