body{
	overflow-y: hidden;
	overflow-x: hidden;
}

header {
	position: relative;
}

.headerContainer{
	width: 70%;
}

h1 {
	display: inline-block;
	z-index: 10000;
	margin-left: 30px;
	margin-top: 30px;
	font-size: 40px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 10px;
}

h2 {
	display: inline-block;
	margin-top: 30px;
	font-size: 35px;
	margin-bottom: 40px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
}

h3 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}



ul {
	position: absolute;
	top: 95px;
	right: 30px;
	display: inline-block;
}

li {
	margin: 30px;
	color: rgba(255,255,255,.5);
	display: inline;
	font-family: 'Lato', sans-serif;
	transition: color .5s;
}

li:hover{
	color: white !important; 
	cursor: pointer
}

.blankHolder {
	z-index: -180;
	width: 100%;
	position: absolute;
	height: 800px;
	top: -660px;
	background-color: rgba(220,100,220,1);
	mix-blend-mode: multiply;
	animation-name: skewRand1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: height 1s;
    -webkit-transition: height 1s;
    transition: background-color, 1s;
    overflow-y: hidden;
}

.portfolio {
	z-index: -120;
	width: 100%;
	position: absolute;
	height: 800px;
	top: -655px;
	background-color: rgba(100,220,220,1);
	mix-blend-mode: multiply;
	animation-name: skewRand2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: height 1s;
    -webkit-transition: height 1s;
    transition: background-color, 1s;
    overflow-y: hidden;
}

.portfolioActive {
	color: rgba(100,220,220,1);
}

.contact {
	z-index: -150;
	width: 100%;
	position: absolute;
	height: 800px;
	top: -655px;
	background-color: rgba(220,220,100,1);
	mix-blend-mode: multiply;
	animation-name: skewRand3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: height 1s;
    -webkit-transition: height 1s;
    transition: background-color, 1s;
    overflow-y: hidden;
}

.mask {
	z-index: -1500;
	width: 100%;
	position: absolute;
	height: 800px;
	top: -655px;
	background-color: white;
	transform: skewY(5deg);
    -webkit-transition: height 1s;
}

@keyframes skewRand1 {
    from {transform: skewY(1.5deg)}
    to {transform: skewY(-1.5deg)}
}

@keyframes skewRand2 {
    from {transform: skewY(-1.5deg)}
    to {transform: skewY(1.5deg)}
}

@keyframes skewRand3 {
    from {transform: skewY(-1deg)}
    to {transform: skewY(2deg)}
}



.introText {
	position: relative;
	z-index: -10000;
	animation: none;
	color: rgba(74,74,74,1);
	left: 0;
	right: 0;
	font-size: 20px;
	line-height: 40px;
	margin: auto;
	margin-top: 110px;
	font-family: 'Lato', sans-serif;
	width: 70%;
	max-width: 800px;
}

.noAnimation {
	animation: none;
	transform: skewY(0deg)
}

.slideHolder {
	box-sizing: border-box;
	padding-left: 15%;
	padding-right: 15%;
	width: 100%;
	position: absolute;
	top: 800px;
	left: 0;
	right: 0;
	margin: auto;
	height: 80vh;
	overflow-y: auto;
}


.contentHolder {
	display: block;
}

form {
	font-family: 'Lato', sans-serif;
}

input {
	outline-color: rgba(0,0,0,.2);
	font-family: 'Lato', sans-serif;
	text-indent: 10px;
	padding: 0px;
	font-size: 20px;
	color: rgba(220,220,0,1);
	border-style: none;
	height: 40px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

textarea {
	resize: none;
	outline-color: rgba(0,0,0,.2);
	font-family: 'Lato', sans-serif;
	text-indent: 10px;
	padding: 0px;
	padding-top: 5px;
	font-size: 20px;
	color: rgba(220,220,0,1);
	border-style: none;
	display: block;
	width: 100%;
	height: 120px;
	margin-bottom: 10px;
}

.emailButton {
	outline-color: rgba(0,0,0,.8);
	cursor: pointer;
	text-align: center;
	color: rgba(220,220,100,1);
	border-style: none;
	float: right;
	padding: 10px 20px 10px 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 10px;
	background-color: #4A4A4A;
	transition: color .5s;
}

.emailButton:hover {
	color: white;
}

.vanish{
	opacity: 0;
}

.appear {
	opacity: 1;
}

.success {
	letter-spacing: 10px;
	float: right;
	color: #4A4A4A;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-right: 30px;
	margin-top: 10px;
	transition: opacity .75s
}

.portfolioItem {
	font-family: 'Lato', sans-serif;
	color: #4A4A4A;
	margin: auto;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}

.portImg {
	width: 100%;
}

h5 {
	margin-left: 15px;
	font-size: 15px;
	font-weight: 700;
	margin-top: 10px;
}

.itemDesc {
	margin-left: 15px;
	padding-right: 15px;
	opacity: .7;
	margin-top: 10px;
}

.portLinks {
	margin-top: 10px;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.mailLink {
	color: rgba(100,170,170, 1);
	text-decoration: none;
}

.gitLink {
	color: blue;
	opacity: .3;
	text-decoration: none;
	font-weight: 700;
}


.portLinks a {
	color: rgba(100,170,170, 1);
	text-decoration: none;
}

.portLinks i {
	position: relative;
	font-size: 35px;
	margin-left: 40px;
	top: 10px;
	right: 15px;
}
.techIcons {
	border-top: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,.1);
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}

.techIcons i {
	display: inline-block;
	opacity: .3;
	font-size: 20px;
	transition: opacity .5s;
	margin-top: 10px;
}

.techIcons i:hover {
	opacity: 1;
}

[tooltip]:before {
	content: attr(tooltip);
    position: absolute;
    opacity: 0;
	transition: all 0.3s ease;
    padding: 10px;
    color: #333;
 }

[tooltip]:hover:before {
	color: white;
    opacity: 1;
    background-color: #4A4A4A;
    margin-top: -30px;
    margin-left: 0px;    
}

.iconWrapper {
	display: inline-block;
	margin-left: 10px;
}

@media (max-width: 600px) {

	.headerContainer {
		width: 100%;
		text-align: center;
	}


 h1 {
 	font-size: 25px;
 	height: 0px;
 	margin-left: 0px;
 	letter-spacing: 8px;
 }

 h2 {
 	font-size: 25px;
 	margin-bottom: 20px;
 	letter-spacing: 3px; 
 }

  h3 {
 	font-size: 15px;
 }

ul {
	top: 95px;
	right: 0;
	left: 0;
	display: inline-block;
}

textarea {
	font-size: 15px;
}

input {
	font-size: 15px;
}

li {
	font-size: 13px;
	margin: 14px;
}

.slideHolder {
	padding-left: 10px;
	padding-right: 10px;
}

.introText{
	margin-top: 130px;
	font-size: 18px;
	line-height: 30px;
}

}